body {
    margin: 0;
    overflow: hidden;
    background: black;
}

.container {
    display: flex;
    height: 100vh;
}

.gradient-lines {
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, #3498db, #9b59b6, #3498db);
}

.left-section,
.middle-section,
.right-section {
    position: relative;
    flex: 1;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #3498db, #9b59b6, #3498db);
}


.song-row {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center; /* Center text within the button */
}

.song-row:hover {
    background: linear-gradient(135deg, #1d2939, #217dbb, #1d2939); /* Adjusted color on hover */
}

.song-title {
    padding-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
}

.artist-name {
    opacity: 0.6; /* Reduce opacity for an engraved effect on the artist name */
}

.song-list-container {
    max-height: 500px; /* Set the desired max height */
    overflow-y: auto;
}

.title-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.cool-title, .song-details-title, .artist {
    font-family: 'Bahianita', cursive;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    margin-bottom: 20px;
}


.song-details {
    flex-grow: 1;
    padding: 20px;
    margin-top: 100px;
}

.album-cover {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 40px;
}

.duration, .genre, .year {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    opacity: 0.7;
}


.intro-cover {
    width: 250px;
    margin-top: 100px;
    animation: pulse 500ms infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1); /* Initial size */
    }
    to {
        transform: scale(1.1); /* Larger size */
    }
}

.add-song, .remove-song {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.add-song:hover, .remove-song:hover {
    transform: scale(1.4); /* Adjust the scale factor as needed */
}